  <div class="small-jumbotron">
    <div class="container h-100">
      <div class="row jumbotron-row">
        <div class="col-lg-8 col-sm-12">
            <h1 class="display-3 mx-5 text-center small-jumbotron-title"><i class="fas fa-carrot mr-2"></i>Liste de tous les composts</h1> 
        </div>
      </div>
    </div>
  </div>
