<div class="jumbotron">
	<div class="container h-100">
		<div class="row" id="jumbotron-row">
			<div class="col-6">
			    <h1 id="jumbotron-title" class="display-3 mx-5 text-center">Offrez de belles rencontres à vos épluchures !</h1>	
			</div>
			<div class="col-6">
			  <div class="card mx-5">
				  <div class="card-body">
				    <h5 class="card-title">Cherchez un compost :</h5>
				    <h6 class="card-subtitle mb-2 text-muted"> Renseignez vos critères, et zou !</h6>
				    <input type="research" name="search">
				    <button class="btn btn-primary">Lancer la recherche</button>
				  </div>
			  </div>	
			</div>
		</div>
	</div>
</div>
