<br><h1 class="center">Créer mon nouveau compost</h1>

<%= render 'form', compost: @compost %>

<div class="center">
<%= link_to 'Revenir à la page accueil', composts_path, class:"btn btn-link" %>
</div>
