<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @contribution.supplied_compost.composter.email %></h1>
    <p>
      Un demande de contribution vient d'être faite sur votre compost <%= @contribution.supplied_compost.title %>
    </p>
    <p>
      Venez donnez votre réponse sur notre site.
    </p>
    <p> À très vite sur OkCompost.fr !
  </body>
</html>