<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @contribution.contributor.email %></h1>
    <p>
      Ta demande de contribution sur le compost <%= @contribution.supplied_compost.title %> a été acceptée par son propriétaire. Viens prendre contact avec lui au plus vite pour convenir d'un créneau. 
   
    </p>
  
    <p> À très vite sur OkCompost.fr !
  </body>
</html>
