<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<br><br>
    <h1 class="center">Salut à toi et bienvenue dans la communauté Ok Compost !</h1>
    <p>
      Tu t'es inscrit sur OkCompost.fr en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur OkCompost.fr !
  </body>
</html>