<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>Petit problème :</h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <% if message.split.include?("blank") || message.split.include?("has") %>
        <% elsif message.split.slice(0) == "Email" %>
          <li>L'email <%= message.split.slice(1..-1).join(" ") %></li>
        <% elsif message.split.slice(0) == "Username" %>
          <li>Le pseudo <%= message.split.slice(1..-1).join(" ") %></li>
        <% else %>
          <li>Le mot de passe <%= message.split.slice(1..-1).join(" ") %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
