<% content_for :title, "OkCompost / Résultats" %>
<div class="container">
  <h1 class="my-2">Résultats :</h1>
  <div class="row">
    <% @result.result_lines.each do |result_line| %>
      <%= render result_line %>
    <% end %>
  </div>
  <%= link_to 'Nouvelle recherche', root_path, class: 'btn btn-lg btn-info mb-3' %>
</div>
