  <div id="small-jumbotron-faq">
    <div class="container h-100">
      <div class="row jumbotron-row">
        <div class="col-lg-8 col-sm-12">
            <h1 id="small-jumbotron-title-faq" class="display-3 mx-5 text-center">
              Foire aux questions
              <i class="fas fa-question"></i>
            </h1> 
        </div>
      </div>
    </div>
  </div>
