<% content_for :title, "OkCompost / About" %>

<div class="banner">
  <h3 class="banner-text center" style="color:white">A PROPOS DE OK COMPOST</h3><br><br><br><br>
</div>
<br><br>
<div class="container tm">
  <div id="text">
<p class="text-secondary">Des petits gestes quotidiens permettent de réduire les déchets et certaines pratiques permettent même de les réutiliser au quotidien. C'est le cas du compost qui permet la création d'engrais naturel. <br>
Ok compost est là pour rendre tout ca plus clair, facile et accessible à tous. 
<%= link_to 'La team', page_path('team') %>
</p>
    </div>
  <div>
    <embed>
    <p class="text-secondary"> fiznoifozfb</p>
  </div>
</div>
  
 <br><hr><br> 
<div class="container ">
  <div class="row">
<div class="col-4 d-flex align-items-stretch">
  <%= image_tag "aboutus_pictures/epluchures.png", width: 250, height: 250 %>
</div>
<div class="col-4 d-flex align-items-stretch">
    <%= image_tag "aboutus_pictures/composteur.png", width: 280, height: 250 %>
</div>
<div class="col-4 d-flex align-items-stretch">
  <%= image_tag "aboutus_pictures/potager.png", width: 280, height: 250 %> 
</div>
</div>
</div>

<div class="container ">
  <div class="row">
<div class="col-4 d-flex align-items-stretch">
  <p class="text-secondary">Redonnez le sourire à vos épluchures. Au lieu de jeter vos déchets alimentaires dans le bac à ordures gardez les pour en faire du compost</p>
</div>
<div class="col-4 d-flex align-items-stretch">
  <p class="text-secondary">En quelques mois les déchets seront transformés en compost</p>
</div>
<div class="col-4 d-flex align-items-stretch">
  <p class="text-secondary">Et deviendront un engrais 100% naturel qui permettra de nourrir le sol de jardin, potager et même champs agricoles </p>
</div>
</div>
</div>
