.btn-primary {
  color: #fff;
  background-color: #ADCE4B;
  border-color: #ADCE4B;
}

.btn-primary:hover {
  color: #fff;
  background-color: #96B340;
  border-color: #96B340;
}

.badge-primary {
  background-color: #ADCE4B;
}

.border-primary {
  border-color: #ADCE4B !important;
}

.progress-bar {
  color: #ADCE4B;
  background-color: #ADCE4B;

}

.alert-primary, .alert-primary > th, .alert-primary > td {
  background-color: #ADCE4B;
}

.bg-light {
  background-color: #FFF !important;
}

.jumbotron {
	background-image: url("vegetables.jpg");
	background-size: cover;
	background-position: center;
    position:relative;
    min-width:100%;
    height:90vh;
}

#jumbotron-title {
	color: white;
}

#jumbotron-row {
	height: 100%;
	align-items: center;
}

.logo {
  height: 100%;
}

.navbar {
  height: 10vh;
}

.form-control:focus {
  border-color: #ADCE4B;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(150, 179, 64, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(150, 179, 64, 0.25);
}

.btn-link {
  color: #8E8C84;
}

.btn-link:hover {
  color: #3E3F3A;
  text-decoration: none;
}

.input-group-text {
  background-color: #FFF;
}

.faw {
  font-family: 'FontAwesome';
}

.center {
  text-align: center;
}

.number-field {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.navbar-collapse {
  z-index: 1;
  left: 0;
  float: left;
  min-width: 10rem;
  padding: 0.5rem;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #3E3F3A;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

.h3-up {
  text-transform: uppercase;
}

.img-tag {
  height: auto;
  width:100%;
}