<div class="footer container-fluid style="border: 1px solid black">
  <div class="row  style="border: 1px solid black">

            <div class=" col-lg-3 col-md-3 col-sm-6 text-left" style="border: 1px solid black"><h3>OK COMPOST :</h3>
              <p>est un service libre et gratuit pour rapprocher toutes les personnes qui veulent composter leurs restes végétaux.</p>
            </div>

            <div class=" col-lg-3 col-md-3 col-sm-6 text-left" style="border: 1px solid black"><h3>SERVICES :</h3>
              <ul>
                <li>chercher un compost </li>
                <li>proposer un nouveau compost</li>
                <li>plan du site</li>
              </ul>
            </div>

            <div class=" col-lg-3 col-md-3 col-sm-6 text-left" style="border: 1px solid black"><h3>LIENS UTILES :</h3>
              <ul>
                <li>FAQ</li>
                <li>à propos</li>
                <li>plan du site</li>
                <li>team</li>
                <li>nos valeurs</li>
              </ul>
            </div>

            <div class=" col-lg-3 col-md-3 col-sm-6 text-left" style="border: 1px solid black"><h3>CONTACT :</h3>
              <p>nous soutenir</p>
              <p>apporter votre pierre à l'édifice en aidant la communauté à s'agrandir. partagez nous sur les réseaux. :)</p>
            </div>
  </div>
</div>
